{% extends 'main/layout.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

<div class="body_comp">

 <h1 class="zagolovok">Руководство</h1> 

 <table style="margin-top: 8vh; margin-bottom: 8vh;">
    <tr>
        <td class="nav_about">
            <a onclick="document.location='/about-company/'" class="txt3"><h3>О компании</h3></a>
        </td>
        <td class="nav_about">
            <a onclick="document.location='/about-company/managment'" class="txt3"><h3>Руководство</h3></a>
        </td>
        <td class="nav_about">
            <a onclick="document.location='/about-company/purchases'" class="txt3"><h3>Закупки</h3></a>
        </td>
        <td class="nav_about"> 
            <a onclick="document.location='/about-company/anti-corruption'" class="txt3"><h3>Противодействие коррупции</h3></a>
        </td>
        <td class="nav_about">
            <a onclick="document.location='/about-company/disclosures'" class="txt3"><h3>Раскрытие информации</h3></a>
        </td>
    </tr>
</table>

</div>


{% endblock %}