.FirstNews{
    background-color: white;
}

.scaleimg{
    display: inline-block; 
    overflow: hidden;   
}

.scaleimg img{
   transition: 1s;
    display: block;  
}

.scaleimg img:hover{
    transform: scale(1.2);
}

.text1{
    color: rgb(8, 5, 33);
}

.text1:hover{
    color:  #D81B16;
}

.textdata{
    color: rgb(127, 127, 127);
}

.text2{
    margin-top: 3vh;
    padding-left: 3vh;
    padding-right: 3vh;
}

.newsmin{
    margin: none;
    position: relative;
    border-top: 1px solid rgba(114, 126, 138, 0.3);
    border-right: 1px solid rgba(114, 126, 138, 0.3);  transition: .5s;    
}

#shad1:hover{
    box-shadow: 25px -25px 35px 0 rgba(0, 0, 0, 0.45);
}
 
#shad2:hover{
      box-shadow: 0 0 35px 25px rgba(0, 0, 0, 0.45);
  }
  
#shad3:hover{
      box-shadow: -25px -25px 35px 0 rgba(0, 0, 0, 0.45);
  }

.GlavText{
    background-color: black;
    padding: 5vh;
    text-align: left;
}
h1{
    font-size: 25px;
    color: white;
}

h6{
    font-size: 20px;
    color: white;  
}